/*
inline css - styling particular tag
internal css - inside the file youre styling but inside a style tag insode the head tag
external css - external css file
*/

/* 
class, tag name (h1, p, etc), id

selector {
    something a value;
}
*/

* {
    background-color: #F4F1DE;
    margin: 0;
    padding: 0;
    /* 
    key value pair!
    margin is the key
    0 is the value
     */
}


.navbar {
    background-color: #C3C3C3;
    /* key             value */
    align-items: left;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 20px;
    /* 30px = top bottom.... 20px left right */
}

.navbar ul li { /* targetting .navbar class with ul li to be modified */
    background-color: #C3C3C3;
    color: #F4F1DE;
    list-style-type: none;
    display: inline-block; 
}

.navbar li a { /* selector */
    background-color: #C3C3C3;
    color: #F4F1DE;
    text-decoration: none;
    padding: 15px 5px; /* Top and Bottom and Left to Right */
}

.maincontent h1 {
    color: #949396;
    align-items: middle;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 20px;
    /* 30px = top bottom.... 20px left right */
}

.maincontent h2 {
    color: #949396;
    align-items: middle;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 20px;
    /* 30px = top bottom.... 20px left right */
}

.maincontent p {
    color: #949396;
    align-items: middle;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 20px;
    /* 30px = top bottom.... 20px left right */
}

.fave h3 {
    color:#949396;
    align-items: middle;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 20px;
    /* 30px = top bottom.... 20px left right */
}

.fave ul {
    color: #949396;
    align-items: middle;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 20px;
    /* 30px = top bottom.... 20px left right */
}

.box {
    box-sizing: border-box;
    padding: 25px 50px; /* top & bottom, left & right */
    padding: 50px; /* everything*/
    padding: 50px 25px 30px; /* top, right & left, bottom */
    padding: 50px 25px 30px 25px; /* top, right, bottom, left */
}

.footer {
    color: #949396;
}


/* 
vh
vw
%
em
cm
pt
*/

/* 

on the about page, please add content...

including h1, h2, p and lists....

*/

